<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</th:block>
<div layout:fragment="content">
<body>

<div class="container">

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>번호</th>
                <th>아이디</th>
                <th>비밀번호</th>
                <th>이메일</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.id}"></td>
                <td th:text="${member.username}"></td>
                <td th:text="${member.password}"></td>
                <td th:text="${member.email}"></td>
                <td>
                    <!--                    <a href="#" th:href="@{/items/{id}/edit (id=${item.id})}" class="btn btn-primary" role="button">수정</a>-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>


</div> <!-- /container -->

</body>
</div>
</html>