<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="footer"  th:fragment="footer">
        <!-- 푸터 -->
        <div id="footer">
            <div class="leftCont">
                <div class="logo"></div>
                <div class="addr">
                </div>
            </div>
            <div class="fs">
                <a href="#" class="fsBtn"><span>관련 사이트 열기</span><i class="fa-solid fa-plus"></i></a>
            </div>
        </div>
    </div>
